/**
 * @file
 * Form Styling
 */


.form-item { /* Wrapper for a form element (or group of form elements) and its label */
 /* margin: 1.5em 0;*/
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error { /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}

.form-item label { /* The label for a form element */
  display: block;
  font-weight: bold;
}

.form-item label.option { /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}

.form-required { /* The part of the label that indicates a required field */
  color: #c00;
}

.form-item .description { /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0; /* Drupal core uses "0.4em 0" */
}

.form-submit { /* The submit button */
/*background:;*/
}
#edit-submit--2{
	background:#CACACA;
	background-image:url(../images/menu-leaf.png) no-repeat;
	border:none;
}

.container-inline div,
.container-inline label { /* Inline labels and form divs */
  display: inline;
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;

}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul { /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link { /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
 
 
 
  /*DENNIS TOEGEVOEGD*/
 .form-item-name, .form-item-pass
 {
	 margin-top:0px;
	 margin-bottom:2px;
	 float:left;
	 
	/* position:absolute;*/
	 }

#user-login-block-container{
	min-width:320px;
	max-width:320px;
}
 
 /* labels username en password verbergen*/
 label[for=edit-name], label[for=edit-pass]{
	display: none;
}	
 
 /*underline wegdoen bij wachtwooord vergeten en registratie*/
#block-user-login a 
{	
	text-decoration:none;
	padding-right:25px;
	color:#000;
	margin-top:10px;
	/*background:green;*/
}
#block-user-login
{
	width:320px;
}

#block-views-kalender-block-1 h2{

	font-family: cubanoregular, Verdana, Tahoma, "DejaVu Sans", sans-serif;
	font-size:25px;
}
		 
.edit-actions{
	/*overflow: hidden;*/
	/*display:inline;*/
	
	/*clear:both;*/
	/*display:inline-block;*/
	width: 320px;
	}

.edit-actions #wachtwoord_vergeten{
	/*float:left;*/
/*width:150px;
float:left;*/
	/*display:inline-block;*/
	/*width:210px; */
	min-width:180px;
	max-width:180px;
	float:left;
	padding-top:5px;
	padding-right:20px;
	font-size:14px;
}

.edit-actions #wachtwoord_vergeten #wa_ve{
	padding:0px;
}

.edit-actions #registratie{
background:#6d6e71;
/*display:inline-block;*/
min-width:95px;
max-width:95px;
float:left;
padding:2px 0 2px 10px;
}

.edit-actions #registratie a{
color:#FFF;	
}

.edit-actions #registratie #reg{
padding:0px;
}

#block-user-login h2{
/*	padding: 0 100px 0 100px;	
	padding-left:auto;
	padding-right:auto;*/
	text-align:center;
}

/*customized submit button*/
#block-user-login #edit-submit
{
/*background:green;*/
background:url(../images/go_button.png) no-repeat;
min-width:29px;
max-width:29px;
min-height:54px;
max-height:54px;
border: 0;
margin-left:4px;
}

#user-login-form, #user-login-form input[placeholder]{
	font-family:Verdana, Tahoma, "DejaVu Sans", sans-serif;		
	}

/*correcte plaatsing van searchbutton*/
#search-block-form .form-submit
{
	/*background:green;*/
	margin-bottom:-6.5px;
}

 /*EINDE DENNIS TOEGEVOEGD*/
form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}
