/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node { /* Node wrapper */

}

.preview .node { /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .node-title { /* Node title */
}

.node .user-picture { /* The picture of the node author */
}

.node .submitted { /* The "posted by" information */
}

.node .content { /* Node's content wrapper */
}

.node ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted { /* A node that has been promoted to the front page */
padding:0px;
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
background:#FFF;
max-width:220px;
min-height:220px;
min-width:220px;
max-height:220px;
float:left;
padding-top:0px;
margin:5px;
overflow:hidden;
position:relative;
}

.node-teaser .Wrapper-links-midden-rechts{
	min-width:220px;
	position:absolute;
	bottom:0;
	padding-bottom:13px;
}
.node-teaser.node-wat-doen-we- .ds-body,
.node-teaser.node-event .ds-body,
.node-teaser.node-stu-ver-worden .ds-body {
	max-height:130px;
	overflow:hidden;
}
.node-teaser.node-wie-zijn-we-,
.node-teaser.node-wat-doen-we-,
.node-teaser.node-video-s-uploaden,
.node-teaser.node-stu-ver-worden,
.node-teaser.node-foto-s-uploaden ,
.node-teaser.node-event,
.node-teaser.node-documenten-uploaden-vvs,
.node-teaser.node-documenten-uploaden-aso,
.node-teaser.node-documenten-uploaden-av_auha,
.node-teaser.node-documenten-uploaden-stuvoraad,
.node-teaser.node-docs,
.node-teaser.node-applicatie-formulier{
	font-size:12px;
	line-height:15px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:5px;
}

.block-title{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
}


.node-teaser.node-documenten-uploaden-vvs .ds-body,
.node-teaser.node-documenten-uploaden-aso .ds-body,
.node-teaser.node-documenten-uploaden-av_auha .ds-body,
.node-teaser.node-documenten-uploaden-stuvoraad .ds-body,
.node-teaser.node-docs .ds-body,
.node-teaser.node-wie-zijn-we- .ds-titel,
.node-teaser.node-wie-zijn-we- .ds-body
 {
	text-align:center;
	max-height:125px;
	overflow:hidden;
}
.node-teaser.node-foto-s-uploaden .ds-body,
.node-teaser.node-video-s-uploaden .ds-body,
.node-teaser.node-applicatie-formulier .ds-body{
	text-align:center;
}


/*
Begin: Hoe schakel je breadcrumb uit.
*/
.breadcrumb {display: none;}
/*
Einde: Hoe schakel je breadcrumb uit.
*/


/*
begin:  link verwijderen
*/
.view-mode-full.node-wie-zijn-we- .links,
.view-view-s4p .node-wie-zijn-we- .links,
.view-view-s4p .node-wie-zijn-we- .field-name-post-date,
.node-teaser.node-applicatie-formulier .node-wie-zijn-we- .links,
.node-teaser.node-applicatie-formulier .node-wie-zijn-we- .field-name-post-date,
.view-mode-full.node-applicatie-formulier .links
{
	display:none;
}

/*
einde:  link verwijderen 
*/

/*
Begin: Opmaak  view: wie zijn we  
*/
.view-view-wie-zijn-we-- .view-mode-teaser{
	background:#FFF;
	
	max-width:185px;
	max-height:300px;
	min-width:185px;
	min-height:300px;
	
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	margin-top:5px;
	margin-right:5px;
	float:left;
	text-align:center;
}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-titel{
	border-bottom:solid #CACACA 7px;
	position: absolute;
	padding-top:180px;
	text-align:center;
	font-size:12px;
	line-height:15px;
	min-width:210px;
	margin-left:-15px;

}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-body{
	max-height:180px;
	min-height:180px;
	position: absolute;
	text-align:center;
	padding-top:-180px;
}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-body .field-name-title{
	margin-top:-10px;
	font:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#F00;
	margin-bottom:40px;
}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-links{
	margin-left:65px;
	position:relative;
}
.view-view-wie-zijn-we-- .read-more-wie-zijn-we{
	margin-right:65px;
}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-midden .field-name-post-date{
	display:none;
}

.front .node-teaser.node-wie-zijn-we- .ds-midden .field-name-field-e-mail{
	display:none;
}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-midden{
	margin-left:35px;
	position:absolute;
	margin-top:-13px;
}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-midden .field-name-field-e-mail{
	max-width:35px;
}
.view-view-wie-zijn-we-- .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  /*background-image: url(../images/Mail_wiezijnwe.png);*/
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
.read-more-wie-zijn-we{
	float:left;
	min-height:25px;
	min-width:27px;
}
.add-comment-wie-zijn-we{
	float:left;
	min-height:25px;
	min-width:30px;
}
.view-display-id-page .view-mode-teaser .read-more-wie-zijn-we{
	background:url(../images/Persoon_wiezijnwe.png) center no-repeat;
}
.view-display-id-page .add-comment-wie-zijn-we{
	background:url(../images/Chat_wiezijnwe.png) center no-repeat;
}
.view-display-id-page .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  background-image: url(../images/Mail_wiezijnwe.png);
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
.view-display-id-page .view-mode-teaser .ds-titel{
	color:#ed1c24;
}
.view-display-id-page_3 .view-mode-teaser .read-more-wie-zijn-we{
	background: url(../images/Persoon_wiezijnwe_g&w.png) center no-repeat;
}
.view-display-id-page_3 .add-comment-wie-zijn-we{
	background: url(../images/Chat_wiezijnwe_g&w.png) center no-repeat;
}
.view-display-id-page_3 .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  background-image: url(../images/Mail_wiezijnwe_g&w.png);
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
.view-display-id-page_3 .view-mode-teaser .ds-titel{
	color:#00a5b1;
}
.view-display-id-page_4 .view-mode-teaser .read-more-wie-zijn-we{
	background: url(../images/Persoon_wiezijnwe_KC.png) center no-repeat;
}
.view-display-id-page_4 .add-comment-wie-zijn-we{
	background: url(../images/Chat_wiezijnwe_KC.png) center no-repeat;
}
.view-display-id-page_4 .view-mode-teaser .ds-titel{
	color:#7c706c;;
}
.view-display-id-page_4 .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  background-image: url(../images/Mail_wiezijnwe_KC.png);
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
.view-display-id-page_6 .view-mode-teaser .read-more-wie-zijn-we{
	background: url(../images/Persoon_wiezijnwe_m&c.png) center no-repeat;
}
.view-display-id-page_6 .add-comment-wie-zijn-we{
	background: url(../images/Chat_wiezijnwe_m&c.png) center no-repeat;
}
.view-display-id-page_6 .view-mode-teaser .ds-titel{
	color:#f89c1b;
}
.view-display-id-page_6 .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  background-image: url(../images/Mail_wiezijnwe_m&c.png);
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
.view-display-id-page_2 .view-mode-teaser .read-more-wie-zijn-we{
	background: url(../images/Persoon_wiezijnwe_o&t.png) center no-repeat;
}
.view-display-id-page_2 .add-comment-wie-zijn-we{
	background: url(../images/Chat_wiezijnwe_o&t.png) center no-repeat;
}
.view-display-id-page_2 .view-mode-teaser .ds-titel{
	color:#ad217e;
}
.view-display-id-page_2 .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  background-image:url(../images/Mail_wiezijnwe_o&t.png);
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
.view-display-id-page_5 .view-mode-teaser .read-more-wie-zijn-we{
	background: url(../images/Persoon_wiezijnwe_kask.png) center no-repeat;
}
.view-display-id-page_5 .add-comment-wie-zijn-we{
	background: url(../images/Chat_wiezijnwe_kask.png) center no-repeat;
}
.view-display-id-page_5 .view-mode-teaser .ds-titel{
	color:#4d6063;
}
.view-display-id-page_5 .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  background-image: url(../images/Mail_wiezijnwe_KASK.png);
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
.view-display-id-page_1 .view-mode-teaser .read-more-wie-zijn-we{
	background: url(../images/Persoon_wiezijnwe_w&t.png) center no-repeat;
}
.view-display-id-page_1 .add-comment-wie-zijn-we{
	background: url(../images/Chat_wiezijnwe_w&t.png) center no-repeat;
}
.view-display-id-page_1 .view-mode-teaser .ds-titel{
	color:#2b9f65;
}
.view-display-id-page_1 .view-mode-teaser .ds-midden div.field div.field-items div.field-item a{
  display: block;
  text-indent: -99999em;
  background-image: url(../images/Mail_wiezijnwe_w&t.png);
  background-position: left top;
  background-repeat: no-repeat;
  min-height:25px;
  max-width:35px;
}
/*
Einde: Opmaak  view: wie zijn we  
*/



/*
Begin: Opmaak wie zijn we full content
*/
.view-mode-full.node-wie-zijn-we-{
	/*background:#FFF;*/
}
.view-mode-full.node-wie-zijn-we- .group-header{
	max-width:210px;
	padding-top:15px;
	min-height:255px;
	background:#FFF;
	text-align:center;
	border-bottom:solid 7px #CACACA;
}
/*
Einde: Opmaak wie zijn we full content
*/
.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}
