/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background:#FFF;
  /*De volgende 2 lijnen code zorgen ervoor dat de website niet kleiner kan gaan dan 1160 */
  width: 100%;
  min-width: 1160px;
}

#page {

}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
	height:320px;
	background: url(../images/ap_header.png) no-repeat center top;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
	margin-top:50px;
	margin-left:100px;
	vertical-align: bottom;
	position:absolute;
}

#name-and-slogan { /* Wrapper for website name and slogan */
display:none;
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  display:none;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
 clear: both;/*  Clear the logo */
}



#nav-search-wrap{
	margin-left:45%;
	max-width:800px;
	overflow:hidden;
}
#search-two{
	margin-top:180px;
	max-width:295px;
	overflow:hidden;
}

/*
 * Main (container for everything else)
 */

#main { /* Div waar alles instaat behalve de header en de background van heel de site */
background: url(../images/body_test.png)center top ;
max-width:1060px;
margin-left:50px;
min-height:1250px;
padding-top:0;
padding-left:75px;
}

#main #content{
padding-left:60px;
	
}

.node-wie-zijn-we-{
	padding:0;
}


/*
 * Content
 */

#content { /* Div waar al de zelfgemaakte content instaat */
max-width:790px;
}

/*
*
Vanaf hier begint alles omtrend de navigatie van de studentenraden.
*
*/
#navigation-two{
	max-width:500px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
}
#navigation-two ul.links li,
#navigation-two ul.menu li {
	padding:0 0 3px 0;
	list-style-image:none;
	list-style-type:none;
}
#ID_ASAP{
	padding-left:120px;
	text-decoration:none;
	color:#000;
}

.region-navigation .active-top-level-mlid-422{
	background: url(../images/ASAP_balk.png) center no-repeat;
	height:68px;
}
#ID_ASAP:active,
#ID_ASAP:hover,
#ID_ASAP:focus,
#ID_ASAP.active-trail{
	color:#ed1c24;
}

#ID_G_W{
	padding-left:100px;
	text-decoration:none;
	color:#000;
}

.region-navigation .active-top-level-mlid-423{
	background: url(../images/G&W_balk.png) center no-repeat;
	height:68px;
}

#ID_G_W:active,
#ID_G_W:hover,
#ID_G_W:focus,
#ID_G_W.active-trail{
	color:#00a5b1;
}
#ID_KC{
	padding-left:80px;
	text-decoration:none;
	color:#000;
}

.region-navigation .active-top-level-mlid-427{
	background: url(../images/KC_balk.png) center no-repeat;
	height:68px;
}
#ID_KC:active,
#ID_KC:hover,
#ID_KC:focus,
#ID_KC.active-trail{
	color:#7c706c;
}
#ID_M_C{
	padding-left:60px;
	text-decoration:none;
	color:#000;
}
.region-navigation .active-top-level-mlid-426{
	background: url(../images/M&C_balk.png) center no-repeat;
	height:68px;
}
#ID_M_C:active,
#ID_M_C:hover,
#ID_M_C:focus,
#ID_M_C.active-trail{
	color:#f89c1b;
}
#ID_O_T{
	padding-left:40px;
	text-decoration:none;
	color:#000;
}
.region-navigation .active-top-level-mlid-424{
	background: url(../images/O&T_balk.png) center no-repeat;
	height:68px;
}
#ID_O_T:active,
#ID_O_T:hover,
#ID_O_T:focus,
#ID_O_T.active-trail{
	color:#ad217e;
}
#ID_KASK{
	padding-left:20px;
	text-decoration:none;
	color:#000;
}
.region-navigation .active-top-level-mlid-428{
	background: url(../images/KASK_balk.png) center no-repeat;
	height:68px;
}
#ID_KASK:active,
#ID_KASK:hover,
#ID_KASK:focus,
#ID_KASK.active-trail{
	color:#4d6063;
}
#ID_W_T{
	text-decoration:none;
	color:#000;
}
.region-navigation .active-top-level-mlid-425{
	background: url(../images/W&T_balk.png) center no-repeat;
	height:68px;
}
#ID_W_T:active,
#ID_W_T:hover,
#ID_W_T:focus,
#ID_W_T.active-trail{
	color:#2b9f65;
}


/*
*
Tot hier gaat de navigatie van de studentenraden.
*
*/

/*
*
Begin: Organigram
*
*/

.view-view-organigram {
	padding-left:100px;
	padding-top:20px;
}
.view-view-organigram a:link,
.view-view-organigram a:visited{
	text-decoration:none;
	color:#FFF;
}

.view-view-organigram .views-row {
	margin-bottom:16px;
}
/* asap */
.view-view-organigram .views-row-1 .group-right .field-name-field-link1 .field-items{
	background: url(../images/balkjes/red%20190x40/red_top.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
	margin-top:-10px;
}
.view-view-organigram .views-row-1 .group-right .field-name-field-link2 .field-items{
	background: url(../images/balkjes/red%20190x40/red_center.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
.view-view-organigram .views-row-1 .group-right .field-name-field-link3 .field-items{
	background: url(../images/balkjes/red%20190x40/red_bottom.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}

/* KC */
.view-view-organigram .views-row-2 .group-right .field-name-field-link1 .field-items{
	background: url(../images/balkjes/brown%20190x40/brown_top.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
	margin-top:-10px;
}
.view-view-organigram .views-row-2 .group-right .field-name-field-link2 .field-items{
	background: url(../images/balkjes/brown%20190x40/brown_center.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
.view-view-organigram .views-row-2 .group-right .field-name-field-link3 .field-items{
	background: url(../images/balkjes/brown%20190x40/brown_bottom.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}

/* G&W */
.view-view-organigram .views-row-3 .group-right .field-name-field-link1 .field-items{
	background: url(../images/balkjes/blue%20190x40/blue_top.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
	margin-top:-10px;
}
.view-view-organigram .views-row-3 .group-right .field-name-field-link2 .field-items{
	background: url(../images/balkjes/blue%20190x40/blue_center.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
.view-view-organigram .views-row-3 .group-right .field-name-field-link3 .field-items{
	background: url(../images/balkjes/blue%20190x40/blue_bottom.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}

/* KASK */
.view-view-organigram .views-row-4 .group-right .field-name-field-link1 .field-items{
	background: url(../images/balkjes/blackish%20190x43/blackish_top.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
	margin-top:-10px;
}
.view-view-organigram .views-row-4 .group-right .field-name-field-link2 .field-items{
	background: url(../images/balkjes/blackish%20190x43/blackish_center.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
.view-view-organigram .views-row-4 .group-right .field-name-field-link3 .field-items{
	background: url(../images/balkjes/blackish%20190x43/blackish_bottom.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}

/* M&C */
.view-view-organigram .views-row-5 .group-right .field-name-field-link1 .field-items{
	background:url(../images/balkjes/yellow%20190x40/yellow_top.png)  no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
	margin-top:-10px;
}
.view-view-organigram .views-row-5 .group-right .field-name-field-link2 .field-items{
	background: url(../images/balkjes/yellow%20190x40/yellow_center.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
.view-view-organigram .views-row-5 .group-right .field-name-field-link3 .field-items{
	background: url(../images/balkjes/yellow%20190x40/yellow_bottom.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}

/* O&T */
.view-view-organigram .views-row-6 .group-right .field-name-field-link1 .field-items{
	background: url(../images/balkjes/purple%20190x45/purple_top.png)  no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
	margin-top:-10px;
}
.view-view-organigram .views-row-6 .group-right .field-name-field-link2 .field-items{
	background: url(../images/balkjes/purple%20190x45/purple_center.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
.view-view-organigram .views-row-6 .group-right .field-name-field-link3 .field-items{
	background: url(../images/balkjes/purple%20190x45/purple_bottom.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}

/* W&T */
.view-view-organigram .views-row-7 .group-right .field-name-field-link1 .field-items{
	background: url(../images/balkjes/green%20190x40/green_top.png)  no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
	margin-top:-10px;
}
.view-view-organigram .views-row-7 .group-right .field-name-field-link2 .field-items{
	background:url(../images/balkjes/green%20190x40/green_center.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
.view-view-organigram .views-row-7 .group-right .field-name-field-link3 .field-items{
	background: url(../images/balkjes/green%20190x40/green_bottom.png) no-repeat  ;
	margin-left:-20px;
	padding-top:6px;
	padding-bottom:7px;
	padding-left:25px;
	margin-bottom:3px;
}
/*
*
einde: Organigram
*
*/

/*
Begin: organigram blok
*/
.node-teaser.node-organigram-button{
	background-color:transparent;
}
.node-teaser.node-organigram-button .field-name-field-image-link{
	padding-left:15px;
}
.node-teaser.node-organigram-button .field-name-title{
	margin-top:-25px;;
	margin-bottom:-5px;
	background:#FFF;
}
#block-views-view-organigram-button-block{
	margin-top:50px;
}
/*
Einde: organigram blok
*/

/*
*
Begin: Partnerraden pagina
*
*/

.view-view-partnerraad-linkpagina .view-content{
	padding-top:20px;
	padding-left:50px;
}
.view-view-partnerraad-linkpagina .field-name-field-logo-partner {

	padding-top:25px;

}
.view-view-partnerraad-linkpagina .col-first .field-name-field-logo-partner {
	padding-right:45px;
	border-right:solid;
	border-color:#FFF;
	border-width:thick;
	padding-left:20px;
}
.view-view-partnerraad-linkpagina .col-last  .field-name-field-logo-partner {
	margin-left:-3px;
	padding-left:45px;
	padding-right:20px;
}
.view-view-partnerraad-linkpagina .row-first  .field-name-field-logo-partner {
	padding-bottom:43px;
	border-bottom:solid;
	border-width:thick;
	border-color:#FFF;
}
.view-view-partnerraad-linkpagina .row-last  .field-name-field-logo-partner {
	margin-top:-3px;
	padding-bottom:20px;
	padding-top:43px;
}
/*
*
Einde: Partnerraden pagina
*
*/
.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */

}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */

}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
	background:url(../images/ap_footer.png) no-repeat center;
	height:400px;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}
