/*
 *What: mobile styling 
 *Author: Dennis J
 *Year: 2013
*/
@media all and (max-width: 720px) {
  /* line 9, ../../sass/css_mobile/mobile.scss */
  #page, body {
    max-width: 720px;
    width: 100%;
    float: left;
  }

  /* line 15, ../../sass/css_mobile/mobile.scss */
  #header, #main, #footer, .region-navigation, #main-menu {
    background-image: none;
  }

  /* line 19, ../../sass/css_mobile/mobile.scss */
  #main, #footer, .region-navigation, #main-menu {
    background: #AAA;
  }

  /*Kalender op hidden*/
  /* line 25, ../../sass/css_mobile/mobile.scss */
  #block-views-kalender-block-1 {
    /*visibility:hidden;*/
    display: none;
  }

  /* line 35, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-422,
  .region-navigation .active-top-level-mlid-423,
  .region-navigation .active-top-level-mlid-424,
  .region-navigation .active-top-level-mlid-425,
  .region-navigation .active-top-level-mlid-426,
  .region-navigation .active-top-level-mlid-427,
  .region-navigation .active-top-level-mlid-428 {
    background-image: none;
  }

  /* line 39, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-422 {
    /*background-image:none;*/
    background: #C40009;
    /*rood*/
  }

  /* line 43, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-423 {
    background: #50a0aD;
    /*blauwig*/
  }

  /* line 46, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-424 {
    background: #950174;
    /*paars*/
  }

  /* line 49, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-425 {
    background: #62985B;
    /*groen*/
  }

  /* line 52, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-426 {
    background: #DE9700;
    /*oranje*/
  }

  /* line 55, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-427 {
    background: #7F6E68;
    /*bruin*/
  }

  /* line 58, ../../sass/css_mobile/mobile.scss */
  .region-navigation .active-top-level-mlid-428 {
    background: #585E5F;
    /*grijs*/
  }

  /* line 62, ../../sass/css_mobile/mobile.scss */
  #nav-search-wrap {
    padding: 0;
    margin: 0;
    margin-left: 0%;
  }

  /* line 68, ../../sass/css_mobile/mobile.scss */
  #search-two {
    /*	margin-top:0;
    padding-bottom:0;
    
    width:280px;*/
    padding-top: 0;
    padding-bottom: 10px;
  }

  /* line 80, ../../sass/css_mobile/mobile.scss */
  #navigation-two {
    /*
    margin:0;
    padding-left:0;
    text-align:center;
    */
    display: block;
  }

  /* line 91, ../../sass/css_mobile/mobile.scss */
  #block-search-form, #search-block-form {
    margin: 0;
  }

  /* line 95, ../../sass/css_mobile/mobile.scss */
  block-menu-block-1 {
    margin-bottom: 0;
  }

  /* line 100, ../../sass/css_mobile/mobile.scss */
  #block-user-login {
    /*margin:auto;
    padding:auto;*/
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
  }

  /* line 108, ../../sass/css_mobile/mobile.scss */
  #footer {
    max-width: 720px;
    width: 100%;
    height: 200px;
  }

  /* line 117, ../../sass/css_mobile/mobile.scss */
  #main-menu {
    float: none;
    margin: 0px 0px 0px;
    padding: 0;
    /**Dennis maxwidth*/
    max-width: 720px;
    max-width: 100%;
    height: auto;
  }

  /* line 120, ../../sass/css_mobile/mobile.scss */
  #main-menu.open {
    display: block;
  }

  /* line 121, ../../sass/css_mobile/mobile.scss */
  #main-menu ul {
    padding: 0;
    margin: 0;
  }

  /* line 122, ../../sass/css_mobile/mobile.scss */
  #main-menu ul li {
    border-bottom: 1px solid #D9D9D9;
    clear: both;
    float: none;
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* line 123, ../../sass/css_mobile/mobile.scss */
  #main-menu ul li.first {
    border-top: 1px solid #D9D9D9;
  }

  /* line 124, ../../sass/css_mobile/mobile.scss */
  #main-menu ul.navigation-items .menu-3578 {
    display: block !important;
  }

  /* line 125, ../../sass/css_mobile/mobile.scss */
  #main-menu ul li a {
    color: #FFFFFF;
    width: 100%;
    display: block;
    background-color: #6d6e71;
    z-index: 10;
  }

  /* line 126, ../../sass/css_mobile/mobile.scss */
  #main-menu ul li a:hover, #main-menu ul li a.active {
    background-image: none;
    color: #000;
    background-color: #5d5d5d;
  }

  /* line 128, ../../sass/css_mobile/mobile.scss */
  #main, #content {
    padding-left: 0;
  }

  /* line 130, ../../sass/css_mobile/mobile.scss */
  #content {
    margin: 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }

  /* line 138, ../../sass/css_mobile/mobile.scss */
  #main {
    margin: auto;
    max-width: 720px;
    width: 100%;
    height: auto;
  }

  /* line 145, ../../sass/css_mobile/mobile.scss */
  .sidebar-first {
    margin: 0;
    padding: 0;
  }

  /* line 152, ../../sass/css_mobile/mobile.scss */
  #header {
    height: 400px;
    max-width: 720px;
    padding: 0px;
  }

  /* line 158, ../../sass/css_mobile/mobile.scss */
  .region-search-two {
    background: #bebdbd;
    padding: 5px;
  }

  /*logo studentenraad*/
  /* line 165, ../../sass/css_mobile/mobile.scss */
  #logo {
    float: left;
    margin: 0;
    padding: 0;
  }

  /* line 170, ../../sass/css_mobile/mobile.scss */
  #logo img {
    margin-top: 5px;
    margin-left: 10px;
    /*vertical-align: bottom;*/
    position: absolute;
  }
}
