/*
 *What: mobile styling 
 *Author: Dennis J
 *Year: 2013

page bestaat uit 3 grote componenten

	- #header: omvat
	
	
	- #main: omvat
	
	
	- #footer: omvatview
*/
@media all and (max-width: 768px) {
  #page, .region-bottom, body {
    min-width: 0;
	/*max-width: 720px;*/
    max-width: 768px;
    margin-left: 0;
    margin-right: 0;
  }

  #header {
    background: #cacaca;
    	/*max-width: 720px;*/
    max-width: 768px;
    height: auto;
    padding: 0;
  }
  
  #logo{
	float:none; 
	display:block;
  	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding-left:auto;
	padding-right:auto;
	width:385px;	
	}
  
  #logo img {
    max-width:385px;
/*	min-width:240px;*/
	margin-left:0;
	margin-top:10px;
	padding-left:auto;
	padding-right:auto;
  }

  #main-menu {
    float: none;
    margin: 0px 0px 0px;
    padding: 0;
    background-image: none;
    height: 400px;
    /**Dennis maxwidth*/
    	/*max-width: 720px;*/
    max-width: 768px;
    max-width: 100%;
    height: auto;
  }

  #main-menu.open {
    display: block;
  }

  #main-menu ul {
    padding: 0;
    margin: 0;
  }

  #main-menu ul li {
    border-bottom: 1px solid #D9D9D9;
    clear: both;
    float: none;
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #main-menu ul li.first {
    border-top: 1px solid #D9D9D9;
  }

  #main-menu ul.navigation-items .menu-3578 {
    display: block !important;
  }

  #main-menu ul li a {
    color: #FFFFFF;
    width: 100%;
    display: block;
    background-color: #6d6e71;
    z-index: 10;
  }

  #main-menu ul li a:hover, #main-menu ul li a.active {
    background-image: none;
    color: #000;
    background-color: #5d5d5d;
  }

  .region-navigation {
    	/*max-width: 720px;*/
    max-width: 768px;
    margin-bottom: 0;
    height: 120px;
  }

  /*Kalender gedeelte*/
  #block-views-kalender-block-1 {
    /*visibility:hidden;*/
    display: none;
  }

  /* submenu's studentenraden*/
  .region-navigation .active-top-level-mlid-422,
  .region-navigation .active-top-level-mlid-423,
  .region-navigation .active-top-level-mlid-424,
  .region-navigation .active-top-level-mlid-425,
  .region-navigation .active-top-level-mlid-426,
  .region-navigation .active-top-level-mlid-427,
  .region-navigation .active-top-level-mlid-428 {
    background-image: none;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .region-navigation .active-top-level-mlid-422 {
    /*background-image:none;*/
    background: #C40009;
    /*rood*/
    	/*max-width: 720px;*/
    max-width: 768px;
  }

  .region-navigation .active-top-level-mlid-423 {
    background: #50a0aD;
    /*blauwig*/
  }

  .region-navigation .active-top-level-mlid-424 {
    background: #950174;
    /*paars*/
  }

  .region-navigation .active-top-level-mlid-425 {
    background: #62985B;
    /*groen*/
  }

  .region-navigation .active-top-level-mlid-426 {
    background: #DE9700;
    /*oranje*/
  }

  .region-navigation .active-top-level-mlid-427 {
    background: #7F6E68;
    /*bruin*/
  }

  .region-navigation .active-top-level-mlid-428 {
    background: #585E5F;
    /*grijs*/
  }

  #ID_ASAP, #ID_G_W, #ID_KC, #ID_M_C, #ID_O_T, #ID_KASK, #ID_W_T {
    padding-left: 0;
  }

  #main {
    background-image: none;
    margin-left: 0;
    padding-left: 0;
    background: #cacaca;
    	/*max-width: 720px;*/
    max-width: 768px;
    min-height: 0;
  }

  .sidebar {
    display: none;
  }

  #nav-search-wrap {
    margin: 0;
  }
  
  #extra_mobile_icons{
	display:block;
	width:30px;
	height:27px;
	border: 1px solid #036;
	background-image:url(../../images/calender_icon.png);
	text-indent:-9000px;
  }
  
  #extra_mobile_icons #link_mobi {
  	width:30px;
	height:27px;
	/*border: 1px solid #036;*/
/*	background-image:url(../../images/calender_icon.png);*/
  }
  
  
    #extra_mobile_icons #ima_link {
  	width:30px;
	height:27px;
	/*border: 1px solid #036;*/
	/*background-image:url(../../images/calender_icon.png);*/
  }
  
  

  

#show_hide_sturas{display:block;}

  #navigation-two {
    float: none;
    min-width: 220px;
    max-width: 220px;
    height: 210px;
    width: 60%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-top: 110px;
  }

  #navigation-two ul.menu {
    padding: 0;
    text-align: center;
  }

  #block-menu-block-2 {
    float: none;
    margin: 0px 0px 0px;
    padding: 0;
    background-image: none;
    height: 200px;
    /**Dennis maxwidth*/
    	/*max-width: 720px;*/
    max-width: 768px;
    max-width: 100%;
    height: auto;
  }

  #block-menu-block-2.open {
    display: block;
  }

  #block-menu-block-2 ul {
    padding: 0;
    margin: 0;
  }

  #block-menu-block-2 ul li {
    clear: both;
    float: none;
    text-align: center;
  }

  #block-menu-block-2 ul.menu li {
    padding-right: 0px;
  }

  #block-menu-block-2 ul.navigation-items .menu-3578 {
    display: block !important;
  }

  #block-menu-block-2 ul li a {
    color: #FFFFFF;
    width: 100%;
    display: block;
    z-index: 10;
  }

  #search-two {
    overflow: visible;
    background: #999;
    max-width: 260px;
    min-width: 260px;
    margin: auto;
    padding: auto;
  }

  /*vergrootglas geen background*/
  #edit-submit--2 {
    background: none;
  }

  .sidebar-first #content {
    width:500px;
	max-width: 480px;
	min-width: 240px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* Organigram hidden*/
  #block-views-view-organigram-button-block {
    display: none;
  }

  #main, #content {
    padding-left: 0;
    padding-right: 0;
  }
  
    #main #content {
    padding-left: 0;
  }
  

  .item-list {
    max-width: 480px;
    min-width: 480px;
  }
  
  .view-view-organigram{
	   display: none;
}
  
  .view-content{
		width:440px;
		max-width:440px;
		margin-left:auto;
		margin-right:auto;
		height:auto;
	  }
	  
/*
*
Begin: Partnerraden pagina
*
*/

.view-view-partnerraad-linkpagina .view-content{
	padding-left:0;
	padding-top:0;
	/*    margin-left: auto;
    margin-right: auto;*/
    max-width: 240px;
    width: 240px;
}
.view-view-partnerraad-linkpagina .field-name-field-logo-partner {

	padding-top:0px;

}
.view-view-partnerraad-linkpagina .col-first .field-name-field-logo-partner {
	padding-right:0px;
	/*border-right:solid;
	border-color:#FFF;
	border-width:thick;*/
	padding-left:0px;
	/*border-right:none;*/
	border-right:3px solid #FFF;
}
.view-view-partnerraad-linkpagina .col-last  .field-name-field-logo-partner {
	margin-left:-3px;
	padding-left:0px;
	padding-right:0px;
}
.view-view-partnerraad-linkpagina .row-first  .field-name-field-logo-partner {
	padding-bottom:0px;
	/*border-bottom:solid;
	border-width:thick;
	border-color:#FFF;*/
	border-bottom:3px solid #FFF;
}
.view-view-partnerraad-linkpagina .row-last  .field-name-field-logo-partner {
	margin-top:-3px;
	padding-bottom:0px;
	padding-top:0px;
}

.views-view-grid img{
	max-width:120px;

}

table{ margin-left:auto; margin-right:auto;}
/*
*
Einde: Partnerraden pagina
*
*/
  
   
  #footer {
    background-image: none;
    background: #666;
    	/*max-width: 720px;*/
    max-width: 768px;
    padding: 0;
    height: 200px;
  }

  #block-user-login {
    margin: auto;
    padding: auto;
    height: 200px;
  }
  
   /* .view-mode-wie_zijn_we_pagina{ margin-bottom:25px;}*/




/*iPhone*/
@media all and (max-width: 479px) {

	#content{
		margin-left:auto;
		margin-right:auto;
		}

  #main-menu {

    max-width: 479px;

  }

  .sidebar-first #content {
    width:240px;
	max-width: 240px;
	min-width: 120px;
    
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  
    .item-list {
    max-width: 240px;
    min-width: 240px;
  }
  
   .view-content{
		width:200px;
		max-width:240px;
		min-width:190;  
	 	margin-left:auto;
	    margin-right:auto;
	  }
	  
	  
  #logo{ width:240px; }  
  #logo img { max-width:240px; }
  
  
  #navigation-two { margin-top:75px; }
  
  .view-mode-wie_zijn_we_pagina{ margin-right:0;}
  
  
}